.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-content {
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
